<main>
    <div class="register-container">
        <h2 class="register-title">Zarejestruj się</h2>

        <form (ngSubmit)="register()">
            <div class="form-group">
                <label for="username">Nazwa Użytkownika</label>
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required />
            </div>

            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password"
                    required />
            </div>

            <div class="form-group">
                <label for="confirm_password">Potwierdź hasło</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                    [(ngModel)]="confirmPassword" required />
            </div>

            <button type="submit" class="btn-register">Zarejestruj się</button>

            <div class="register-footer">
                <p>Masz już konto? <a routerLink="/login">Zaloguj się</a></p>
            </div>
        </form>
    </div>
</main>