<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja udana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-success">
        <h2>Rezerwacja została pomyślnie złożona!</h2>
        <p>Dziękujemy za skorzystanie z naszej usługi.</p>
        <a href="/index2" class="btn btn-primary">Powrót do strony głównej</a>
    </div>
</div>
</body>
</html>